body {
    background: url("/front/img/user/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#login-box {
    width: 30%;
    height: auto;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
    border-radius: 25px;
}

#login-box h1{
    color: white;
}

#login-box .form .item {
    margin-top: 15px;
}

#login-box .form .ajax {
    margin-top: 1px;
}

#login-box .form .ajax span{
    font-size: 10px;
}

#login-box .form .item span{
    font-size: 18px;
    color: #ffffff;
}

#login-box .form .code span{
    font-size: 18px;
    color: #ffffff;
}

#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #ffffff;
    outline:none;  /*去掉选中时候的轮廓*/
}

#login-box .form .code input {
    width: 100px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #ffffff;
    outline:none;  /*去掉选中时候的轮廓*/
    margin-right: 18px;
}

#login-box .form .code img {
    width: 60px;
    height: 34px;
    right: 0;
    outline:none;  /*去掉选中时候的轮廓*/
    cursor: pointer;
    position: relative;
    top: 10px;
}

#login-box button {
    margin-top: 20px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    background-image: linear-gradient(to right,#ad3125 0%,#578bc3 100%);
    border: 0;
    border-radius: 15px;
    outline:none;
}

.checkbox {
    padding-top: 15px;
}

.checkbox .checkbox-label {
    padding-right: 60px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.checkbox .checkbox-a {
    padding-left: 20px;
    font-size: 12px;
    color: white;
}

.register {
    padding-top: 15px;
}

.register a {
    color: white;
    font-weight: 700;
}
