/* 图像文字文件代码 */
@font-face {
    font-family: 'iconfont';
    src: url('/static/fonts/iconfont.eot');
    src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/iconfont.woff2') format('woff2'),
    url('/static/fonts/iconfont.woff') format('woff'),
    url('/static/fonts/iconfont.ttf') format('truetype'),
    url('/static/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* 解决各个浏览器不同属性 */
html,body,ul,ol,li {
    margin:  0;
    padding: 0;
}

/* 设置表单列表前面的圆圈消失 */
li {
    list-style: none;
}

/* 去掉链接下边线*/
a {
    text-decoration: none;
}

/*设置默认间距*/
dl,dd,dt {
    margin: 0px;
    padding: 0px;
}